{% import 'helpers/_macros.twig' as macros %}

<section class="relative {{ background.class }}">
    <div class="{{ padding }}">
        <div class="container container-lg">
            <div class="flex flex-col -m-6 items-center {{ block.isFlipped ? 'md:flex-row-reverse' : 'md:flex-row' }}">
                <div class="flex md:w-1/2 p-6">
                    <div class="relative">
                        {{ macros.image(block.featuredImage.one, {
                            auto: 'format,compress',
                            fit: 'crop',
                            width: 600,
                            height: 600
                        }) }}
                    </div>
                </div>
                <div class="md:w-1/2 p-6">
                    <h2 class="text-5xl leading-none mb-8">
                        {{ block.heading|striptags('<strong><span><br>')|trim|raw }}
                    </h2>
                    <div class="prose">
                        {{ block.body }}
                        {{ macros.link(block.button, {
                            class: 'button button-blue'
                        }, 'p') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
