{% set codeBlocks = (globalCode ?? null) and (globalCode.codeBlocks ?? null) ? globalCode.codeBlocks.all : [] %}
<!DOCTYPE html>
<html style="max-height: var(--viewport-height);" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="preconnect" href="https://assets.naacpspringfieldmo.org" >
    <link rel="preconnect" href="https://use.typekit.net" >
    <link rel="preconnect" href="https://p.typekit.net" >

    {% block seo %}
        {{ external('@webroot/static/favicon/markup.html')|striptags('<link><meta>')|raw }}
        {% hook "seo" %}
    {% endblock %}

    {% set regex = '{bot|crawler|spider|crawling|google|baidu|bing|msn|duckduckbot|teoma|slurp|yandex|konqueror|facebookexternalhit|ia_archiver}' %}
    {% set agent = craft.app.request.headers.get('User-Agent') %}
    {% set isCrawler = agent matches regex %}

    {{ (codeBlocks|find('position', 'headTop').code ?? '')|raw }}

    {% if craft.app.config.general.disallowRobots %}
        <meta name="robots" content="noindex">
    {% endif %}

    {% if craft.app.config.env == 'staging' %}
        <script>
            window.markerConfig = {
                destination: "{{ env('MARKERIO_DESTINATION') }}"
            };
        </script>
        <script>
            !function(e,r,t){if(e.__Marker)return;e.__Marker={};var n=r.createElement("script");n.async=1,n.src="https://edge.marker.io/latest/shim.js";var s=r.getElementsByTagName("script")[0];s.parentNode.insertBefore(n,s)}(window,document);
        </script>
    {% endif %}

    <script>
        window.customElements.define('x-svelte', class extends HTMLElement {});

        (function(global) {
            global.$app = global.$app || {};
            global.$app.isCrawler = {{ isCrawler ? 'true' : 'false' }};
            global.$app.isAdmin = {{ currentUser and currentUser.admin ? 'true' : 'false' }};
            global.$app.csrfTokenName = '{{ craft.app.config.general.csrfTokenName|raw }}';
            global.$app.csrfTokenValue = '{{ craft.app.request.csrfToken|raw }}';
            global.$app.devMode = {{ craft.app.config.general.devMode ? 'true' : 'false' }}
        })(window);
    </script>

    <link rel="stylesheet" href="https://use.typekit.net/rqc4ywg.css">
    {{ entry('app') }}

    {{ (codeBlocks|find('position', 'headBottom').code ?? '')|raw }}
</head>
<body id="app" class="transition" style="padding-bottom: var(--appbar-height);">
    {# delay-100 delay-200 delay-300 delay-400 delay-500 delay-600 delay-700 delay-800 delay-900 delay-1000 #}

    {{ (codeBlocks|find('position', 'bodyTop').code ?? '')|raw }}

    <a href="#maincontent" id="skip-to-content">Skip to Main Content</a>

    <header>
        {% block navigation %}
        {% endblock %}
        {% block header %}
        {% endblock %}
    </header>

    <main id="maincontent">
        {% block main %}
        {% endblock %}
        {% block cta %}
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
        {% endblock %}
    </footer>

    {{ (codeBlocks|find('position', 'bodyBottom').code ?? '')|raw }}
</body>
</html>
