{% set codeBlocks = (code ?? null) and (code.codeBlocks ?? null) ? code.codeBlocks.all : [] %}
<!DOCTYPE html>
<html lang="{{ craft.app.language }}" style="max-height: var(--viewport-height); --viewport-height: 100vh;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% if getenv('IMGIX_URL') %}
        <link rel="preconnect" href="{{ getenv('IMGIX_URL') }}" crossorigin>
    {% endif %}

    {# Non-blocking Web Fonts - check to ensure display:swap is also used #}
    {% if getenv('ADOBE_FONTS_URL') %}
        <link rel="preconnect" href="https://use.typekit.net" crossorigin>
        <link rel="preconnect" href="https://p.typekit.net" crossorigin>
        <link rel="preload" href="{{ getenv('ADOBE_FONTS_URL') }}" as="style">
        <link rel="stylesheet" href="{{ getenv('ADOBE_FONTS_URL') }}" media="print" onload="this.media = 'all'" />
        <noscript>
            <link rel="stylesheet" href="{{ getenv('ADOBE_FONTS_URL') }}">
        </noscript>
    {% endif %}

    {% if getenv('GOOGLE_FONTS_URL') %}
        <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preload" as="style" href="{{ getenv('GOOGLE_FONTS_URL') }}">
        <link rel="stylesheet" href="{{ getenv('GOOGLE_FONTS_URL') }}" media="print" onload="this.media = 'all'">
        <noscript>
            <link rel="stylesheet" href="{{ getenv('GOOGLE_FONTS_URL') }}">
        </noscript>
    {% endif %}

    {% block head %}
        {{ external('@webroot/static/assets/markup.html')|striptags('<link><meta>')|raw }}
    {% endblock %}

    {% set regex = '{bot|crawler|spider|crawling|google|baidu|bing|msn|duckduckbot|teoma|slurp|yandex|konqueror|facebookexternalhit|ia_archiver}' %}
    {% set agent = craft.app.request.headers.get('User-Agent') %}
    {% set isCrawler = agent matches regex %}

    {{ codeBlocks|filter(c => c.position == 'headTop')|map(c => c.code)|join('\n\n')|raw }}

    {% if craft.app.config.general.disallowRobots %}
        <meta name="robots" content="noindex">
    {% endif %}

    {% if craft.app.config.env == 'staging' and getenv('MARKERIO_PROJECT') %}
        <script>
            window.markerConfig = {
                project: '{{ getenv("MARKERIO_PROJECT") }}',
                source: 'snippet'
            };
        </script>
        <script>
            !function(e,r,a){if(!e.__Marker){e.__Marker={};var t=[],n={__cs:t};["show","hide","isVisible","capture","cancelCapture","unload","reload","isExtensionInstalled","setReporter","setCustomData","on","off"].forEach(function(e){n[e]=function(){var r=Array.prototype.slice.call(arguments);r.unshift(e),t.push(r)}}),e.Marker=n;var s=r.createElement("script");s.async=1,s.src="https://edge.marker.io/latest/shim.js";var i=r.getElementsByTagName("script")[0];i.parentNode.insertBefore(s,i)}}(window,document);
        </script>
    {% endif %}

    <script>
        window.customElements.define('x-svelte', class extends HTMLElement {});
        window.$app = {{ ({
            isCrawler: isCrawler,
            isAdmin: currentUser and currentUser.admin,
            csrfTokenName: craft.app.config.general.csrfTokenName|raw,
            csrfTokenValue: craft.app.request.csrfToken|raw,
            cloudfrontUrl: getenv('AWS_CLOUDFRONT_URL'),
            imgixUrl: getenv('IMGIX_URL'),
            devMode: craft.app.config.general.devMode
        })|json_encode(128)|raw }};
    </script>

    {{ vite('src/js/main.js') }}

    {{ codeBlocks|filter(c => c.position == 'headBottom')|map(c => c.code)|join('\n\n')|raw }}
</head>
<body id="app" class="transition" style="padding-bottom: var(--appbar-height);">
    {{ codeBlocks|filter(c => c.position == 'bodyTop')|map(c => c.code)|join('\n\n')|raw }}

    <a href="#maincontent" id="skip-to-content">Skip to Main Content</a>

    <header>
        {% block navigation %}
        {% endblock %}
        {% block header %}
        {% endblock %}
    </header>

    <main id="maincontent">
        {% block main %}
        {% endblock %}
        {% block cta %}
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
        {% endblock %}
    </footer>

    {% include '_cp/frontEndShortcut' %}

    {{ codeBlocks|filter(c => c.position == 'bodyBottom')|map(c => c.code)|join('\n\n')|raw }}
</body>
</html>
