{% set codeBlocks = (code ?? null) and (code.codeBlocks ?? null) ? code.codeBlocks.all : [] %}
<!DOCTYPE html>
<html style="max-height: var(--viewport-height); --viewport-height: 100vh;" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="preconnect" href="{{ getenv("IMGIX_URL") }}" >
    {# <link rel="preconnect" href="https://use.typekit.net" > #}
    {# <link rel="preconnect" href="https://p.typekit.net" > #}

    {% block head %}
        {{ external('@webroot/static/favicon/markup.html')|striptags('<link><meta>')|raw }}
    {% endblock %}

    {% set regex = '{bot|crawler|spider|crawling|google|baidu|bing|msn|duckduckbot|teoma|slurp|yandex|konqueror|facebookexternalhit|ia_archiver}' %}
    {% set agent = craft.app.request.headers.get('User-Agent') %}
    {% set isCrawler = agent matches regex %}

    {{ codeBlocks|filter(c => c.position == 'headTop')|map(c => c.code)|join('\n\n')|raw }}

    {% if craft.app.config.general.disallowRobots %}
        <meta name="robots" content="noindex">
    {% endif %}

    {% if craft.app.config.env == 'staging' %}
        <script>
            window.markerConfig = {
                destination: "{{ env('MARKERIO_DESTINATION') }}"
            };
        </script>
        <script>
            !function(e,r,t){if(e.__Marker)return;e.__Marker={};var n=r.createElement("script");n.async=1,n.src="https://edge.marker.io/latest/shim.js";var s=r.getElementsByTagName("script")[0];s.parentNode.insertBefore(n,s)}(window,document);
        </script>
    {% endif %}

    <script>
        window.customElements.define('x-svelte', class extends HTMLElement {});

        (function(global) {
            global.$app = global.$app || {};
            global.$app.isCrawler = {{ isCrawler ? 'true' : 'false' }};
            global.$app.isAdmin = {{ currentUser and currentUser.admin ? 'true' : 'false' }};
            global.$app.csrfTokenName = '{{ craft.app.config.general.csrfTokenName|raw }}';
            global.$app.csrfTokenValue = '{{ craft.app.request.csrfToken|raw }}';
            global.$app.cloudfrontUrl = '{{ getenv("AWS_CLOUDFRONT_URL") }}';
            global.$app.imgixUrl = '{{ getenv("IMGIX_URL") }}';
            global.$app.devMode = {{ craft.app.config.general.devMode ? 'true' : 'false' }};
        })(window);
    </script>

    {{ entry('app') }}

    {{ codeBlocks|filter(c => c.position == 'headBottom')|map(c => c.code)|join('\n\n')|raw }}
</head>
<body id="app" class="transition" style="padding-bottom: var(--appbar-height);">
    {{ codeBlocks|filter(c => c.position == 'bodyTop')|map(c => c.code)|join('\n\n')|raw }}

    <a href="#maincontent" id="skip-to-content">Skip to Main Content</a>

    <header>
        {% block navigation %}
        {% endblock %}
        {% block header %}
        {% endblock %}
    </header>

    <main id="maincontent">
        {% block main %}
        {% endblock %}
        {% block cta %}
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
        {% endblock %}
    </footer>

    {{ codeBlocks|filter(c => c.position == 'bodyBottom')|map(c => c.code)|join('\n\n')|raw }}
</body>
</html>
