{% set title = block and block.heading|striptags('<br>')|trim
    ? block.heading
    : entry.title %}

{% set buttons = block
    ? block.buttons|filter(b => (not b.details.isEmpty))
    : [] %}

{% set backgroundImage = block and block.backgroundImage.one
    ? block.backgroundImage.one
    : defaults.backgroundImage.one %}

{% set height = entry.slug == '__home__'
    ? 'min-h-vh-80'
    : 'min-h-vh-70' %}

<section class="relative" role="banner">
    <div class="relative flex flex-col bg-blue-700 bg-center bg-cover {{ height }}"
        {% if backgroundImage %}
            style="background-image: url({{ backgroundImage.url('header') }})"
        {% endif %}>
        <div class="relative py-24 my-auto">
            <div class="container relative pt-12 text-white">
                <div class="max-w-4xl">
                    <h1 class="inline-block text-6xl md:text-7xl font-bold uppercase">
                        {{ title|striptags('<strong><span><br>')|trim|raw }}
                    </h1>
                    {% if buttons|length %}
                        <div class="mt-6 md:mt-10">
                            <div class="flex flex-wrap -m-3">
                                {% for button in buttons %}
                                    <span class="p-3">
                                        <a class="button button-white button-outline" {{ button.details.linkAttributes }}>
                                            {{ button.details.text }}
                                        </a>
                                    </span>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
