{% import 'helpers/_macros.twig' as macros %}

<div class="navbar">
    <div class="navbar-container">
        <div id="navbar-inner" class="navbar-inner">
            <a class="navbar-logo" href="{{ siteUrl('/') }}" title="Home page">
                {{ seomatic.site.siteName }}
                {# <img width="200" height="35"
                    src="{{ asset('img/logo.svg') }}"
                    alt="{{ seomatic.site.siteName }}"> #}
            </a>
            <nav aria-label="Main menu">
                <menu id="main-menu" class="navbar-nav pl-4">
                    {% for menuItem in mainMenu.menu %}
                        {{ macros.link(menuItem, {
                            class: 'navbar-link'
                        }, 'li')|attr({ class: 'navbar-item' }) }}
                    {% endfor %}
                </menu>
                <button type="button"
                    class="navbar-toggle w-5 h-4 my-4 ml-6 mr-0"
                    aria-controls="mobile-menu"
                    aria-expanded="false"
                    aria-label="Open mobile menu"
                    data-toggle="#mobile-menu"
                    data-toggle-lock-scroll>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </nav>
        </div>
    </div>
</div>

{% include 'modules/_mobileMenu' %}
