{#{% set codeBlocks = globalCode.codeBlocks.all() %}#}
{% set devMode = craft.app.config.general.devMode ? 'true' : 'false' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {# {% for block in codeBlocks %} #}
        {# {% if block.position == 'headTop' %} #}
            {# {{ block.code|raw }} #}
        {# {% endif %} #}
    {# {% endfor %} #}

    <script type="text/javascript">
        (function (global) {
            global.$app = global.$app || {};
            global.$app.csrfTokenName = '{{ craft.app.config.general.csrfTokenName|raw }}';
            global.$app.csrfTokenValue = '{{ craft.app.request.csrfToken|raw }}';
            global.$app.devMode = '{{ devMode }}'
        })(window);
    </script>

    {% block beforeScripts %}
    {% endblock %}

    {{ entry('app') }}
    {{ entry('utilities') }}

    {% block afterScripts %}
    {% endblock %}
</head>
<body>
    {% block navigation %}
    {% endblock %}
    <main>
        {% block main %}
        {% endblock %}
    </main>
    {% block footer %}
    {% endblock %}
</body>
</html>
